/* General Layout */
* {
    font-family: 'Proggy', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000; /* Nero */
    color: #00FF00; /* Verde fluo */
    overflow: hidden; /* Evita lo scrolling del body */
}

.container-fluid {
    height: 100vh;
}

.row {
    height: 100%;
}

/* Sidebar */
.sidebar {
    background-color: #000; /* Nero */
    color: #00FF00; /* Verde fluo */
    padding: 20px;
    border-right: 1px solid #fff; /* Linea divisoria bianca */
    position: fixed;
    height: 100%;
    width: 320px; /* Larghezza fissa della sidebar */
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #fff; /* Linea divisoria bianca */
    padding-bottom: 0.5rem;
    color: #00FF00; /* Verde fluo */
}

.sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #00FF00; /* Verde fluo */
}

.sidebar h5 {
    font-weight: 600;
    color: #00FF00; /* Verde fluo */
}

.sidebar .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #fff; /* Linea divisoria bianca */
    padding-bottom: 0.5rem;
}

.sidebar .contact-item img {
    width: 30px; /* Adatta la dimensione dell'immagine dei contatti */
    height: 30px;
    border-radius: 50%;
    object-fit: cover; /* Assicura che l'immagine si adatti correttamente */
    margin-right: 10px; /* Aggiunge uno spazio tra l'immagine e il testo */
}

.sidebar button {
    width: 48%;
    margin-bottom: 10px;
    background-color: #00FF00; /* Verde fluo */
    border: 1px solid #fff; /* Bordo bianco */
    color: #000; /* Nero */
}

.sidebar button:hover {
    background-color: #00cc00; /* Verde più scuro */
}

.sidebar .list-group-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #fff; /* Linea divisoria bianca */
    cursor: pointer;
    background-color: #000; /* Nero */
    color: #00FF00; /* Verde fluo */
    font-weight: bold;
}

.sidebar .list-group-item:hover {
    background-color: #333; /* Grigio scuro */
}

.sidebar .rounded-circle {
    margin-right: 15px;
}

#dnd-checkbox {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00FF00; /* Verde fluo */
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Chat Area */
.d-flex {
    display: flex !important; /* Imposta il display del contenitore come flexbox */
}

.flex-column {
    flex-direction: column !important; /* Dispone i figli in una colonna verticale */
}

.p-3 {
    padding: 1rem !important; /* Aggiunge 1 rem di padding su tutti i lati */
}

.border-bottom {
    border-bottom: 1px solid #fff !important; /* Aggiunge un bordo inferiore bianco */
}

.border-top {
    border-top: 1px solid #fff !important; /* Aggiunge un bordo superiore bianco */
}

.flex-grow-1 {
    flex-grow: 1 !important; /* Fa crescere l'elemento per riempire lo spazio disponibile */
}

.overflow-auto {
    overflow: auto !important; /* Abilita lo scorrimento automatico per il contenuto */
}

.input-group {
    display: flex; /* Imposta il display del contenitore come flexbox */
    width: 100%; /* Imposta la larghezza al 100% del contenitore genitore */
}

.input-group-append {
    margin-left: 10px; /* Aggiunge 10px di margine a sinistra */
}

.sent-message, .received-message {
    border-radius: 20px; /* Arrotonda gli angoli del bordo */
    margin: 10px 0; /* Aggiunge margine sopra e sotto */
    padding: 12px 20px; /* Aggiunge padding interno */
    max-width: 75%; /* Imposta la larghezza massima */
    word-wrap: break-word; /* Fa andare a capo le parole lunghe */
    position: relative; /* Posizionamento relativo per gli pseudoelementi */
    font-size: 18px; /* Dimensione del testo */
    line-height: 1.75; /* Altezza della linea */
    display: block; /* Assicura che i messaggi siano visualizzati verticalmente */
    clear: both; /* Assicura che i messaggi non si affianchino */
}

.sent-message {
    background-color: #00FF00; /* Verde fluo */
    border-radius: 20px 20px 0 20px; /* Arrotonda gli angoli */
    float: right; /* Allinea a destra */
    text-align: right; /* Testo allineato a destra */
    color: #000; /* Nero */
}

.sent-message::before {
    content: "";
    position: absolute;
    bottom: -7.5px;
    right: 0;
    border-right: none;
    border-left: 9px solid transparent;
    border-top: 7.5px solid #00FF00; /* Verde fluo */
}

.received-message {
    background-color: #fff; /* Bianco */
    border-radius: 20px 20px 20px 0; /* Arrotonda gli angoli */
    margin: 10px 0; /* Margine sopra e sotto */
    padding: 12px 20px; /* Padding interno */
    max-width: 75%; /* Larghezza massima */
    word-wrap: break-word; /* Fa andare a capo le parole lunghe */
    position: relative; /* Posizionamento relativo per gli pseudoelementi */
    font-size: 18px; /* Dimensione del testo */
    line-height: 1.75; /* Altezza della linea */
    display: block; /* Assicura che i messaggi siano visualizzati verticalmente */
    clear: both; /* Assicura che i messaggi non si affianchino */
    text-align: left; /* Testo allineato a sinistra */
    align-self: flex-start; /* Allinea il messaggio a sinistra */
    color: #000; /* Nero */
    margin-left: 65px; /* Margine a sinistra per spazio avatar */
}

.received-message::before {
    content: "";
    position: absolute;
    bottom: -7.5px;
    left: 0;
    border-top: 7.5px solid #fff; /* Bianco */
    border-right: 9px solid transparent;
}

.message-timestamp {
    display: block;
    font-size: 15px; /* Dimensione del font */
    text-align: right;
    color: rgba(255, 255, 255, 0.3); /* Colore del testo */
    position: absolute;
    bottom: -20px; /* Posiziona il timestamp sotto il messaggio */
    right: 20px; /* Allinea il timestamp a destra */
}

/* Scrollbar */
body::-webkit-scrollbar, .overflow-auto::-webkit-scrollbar {
    width: 0.5em; /* Imposta la larghezza della scrollbar */
}

body::-webkit-scrollbar-thumb, .overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2); /* Imposta il colore della thumb della scrollbar */
    border-radius: 10px; /* Arrotonda gli angoli della thumb */
}

/* Chat Head */
.chat-head {
    display: flex; /* Imposta il display del contenitore come flexbox */
    align-items: center; /* Allinea gli elementi al centro verticalmente */
    padding: 10px; /* Aggiunge 10px di padding su tutti i lati */
    border-bottom: 1px solid #fff; /* Linea divisoria bianca */
    background-color: #000; /* Nero */
    position: sticky; /* Rende l'elemento appiccicoso in cima durante lo scorrimento */
    top: 0; /* Allinea l'elemento al top */
    z-index: 1; /* Imposta lo z-index per assicurarsi che l'elemento rimanga in cima */
    width: 110%; /* Imposta la larghezza al 110% del contenitore genitore */
    margin-left: -15px; /* Sposta l'elemento a sinistra di 15px */
}

.chat-head img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Assicura che l'immagine si adatti correttamente */
}

.chat-head .chat-contact-name {
    font-weight: 600; /* Imposta il peso del font a 600 */
    color: #00FF00; /* Verde fluo */
}

.chat-head .chat-contact-status {
    color: #fff; /* Bianco */
}

/* Chat Messages */
.chat-messages {
    background-color: #000;
    background-size: cover;
    padding-bottom: 60px;
    height: calc(100vh - 160px);
    overflow-y: auto;
    width: 100%;
}

/* Input Group Container */
.input-group-container {
    position: fixed; /* Posiziona il contenitore in modo fisso, relativo alla finestra del browser */
    bottom: 0; /* Allinea il contenitore al fondo della finestra */
    width: 78%; /* Imposta la larghezza del contenitore al 100% della finestra */
    background-color: #000; /* Nero */
    padding: 20px 110px; /* Aggiunge uno spazio interno di 10px su tutti i lati */
    border-top: 1px solid #fff; /* Linea divisoria bianca */
    margin-left: -15px; /* Sposta il contenitore 15px a sinistra */
}

.input-group .form-control {
    border: 1px solid #fff; /* Bordo bianco */
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: none;
    background-color: #000; /* Nero */
    color: #00FF00; /* Verde fluo */
}

.input-group .btn-primary {
    background-color: #00FF00; /* Verde fluo */
    border-color: #00FF00; /* Verde fluo */
    border-radius: 20px;
    color: #000; /* Nero */
}

.input-group .btn-primary:hover {
    background-color: #00cc00; /* Verde più scuro */
    border-color: #00cc00;
}
