body {
    background-color: #f8f9fa;
}

#messages {
    height: 70vh;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #ffffff;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.bg-primary {
    background-color: #007bff !important;
    color: #ffffff;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.contact-item {
    cursor: pointer;
}

.contact-item:hover {
    background-color: #f1f1f1;
}
