/* General Layout */
* {
    font-family: 'Proggy', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191970; /* Blu notte */
    color: white; /* Scritte in bianco */
    overflow: hidden; /* Evita lo scrolling del body */
}

.container-fluid {
    height: 100vh;
}

.row {
    height: 100%;
}

/* Sidebar */
.sidebar {
    background-color: #000033; /* Blu ancora più scuro */
    color: white;
    padding: 20px;
    border-right: 1px solid #e6ecf3;
    position: fixed;
    height: 100%;
    width: 320px; /* Larghezza fissa della sidebar */
    overflow-y: auto;
}

.sidebar h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.sidebar h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
}

.sidebar h5 {
    font-weight: 600;
    color: white;
}

.sidebar .btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
}

.sidebar button {
    width: 48%;
    margin-bottom: 10px;
    background-color: #6495ED;
    border: 1px solid white;
    color: white;
}

.sidebar button:hover {
    background-color: #537EC0;
}

.sidebar .list-group-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e6ecf3;
    cursor: pointer;
    background-color: #000033;
    color: white;
    font-weight: bold;
}

.sidebar .list-group-item:hover {
    background-color: #1E1E70;
}

.sidebar .rounded-circle {
    margin-right: 15px;
}

#dnd-checkbox {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6495ED;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/* Chat Area */
.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.p-3 {
    padding: 1rem !important;
}

.border-bottom {
    border-bottom: 1px solid #e6ecf3 !important;
}

.border-top {
    border-top: 1px solid #e6ecf3 !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.overflow-auto {
    overflow: auto !important;
}

.input-group {
    display: flex;
    width: 100%;
}

.input-group-append {
    margin-left: 10px;
}

.sent-message, .received-message {
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px 20px;
    max-width: 45%; /* Box più corti */
    word-wrap: break-word;
}

.sent-message {
    background-color: #0084ff; /* Blu chiaro */
    border: 1px solid #0084ff;
    text-align: right;
    align-self: flex-end;
    color: #ffffff;
}

.received-message {
    background-color: #f1f0f0; /* Grigio chiaro */
    border: 1px solid #f1f0f0;
    text-align: left;
    align-self: flex-start;
    color: #000000;
}

.message-timestamp {
    display: block;
    font-size: 0.75rem;
    text-align: right;
    color: #666666;
}

/* Scrollbar */
body::-webkit-scrollbar, .overflow-auto::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb, .overflow-auto::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* Chat Head */
.chat-head {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e6ecf3;
    background-color: #000033; /* Blu ancora più scuro */
    position: sticky;
    top: 0;
    z-index: 1;
    width: 110%; /* Larghezza completa meno la larghezza della sidebar */
    margin-left: -15px; /* Sposta a destra per evitare spazio a sinistra */
}

.chat-head img {
    border-radius: 50%;
    margin-right: 15px;
}

.chat-head .chat-contact-name {
    font-weight: 600;
    color: white;
}

.chat-head .chat-contact-status {
    color: #999;
}
/* Chat Messages */
.chat-messages {
    background-color: #191970; /* Blu notte */
    padding-bottom: 60px;
    height: calc(100vh - 160px); /* Altezza fissa per la sezione dei messaggi */
    overflow-y: auto; /* Abilita lo scrolling verticale */
    width: calc(100% - 320px); /* Larghezza completa meno la larghezza della sidebar */
}

/* Input Group Container */
.input-group-container {
    position: fixed; /* Posiziona il contenitore in modo fisso, relativo alla finestra del browser */
    bottom: 0; /* Allinea il contenitore al fondo della finestra */
    width: 78%; /* Imposta la larghezza del contenitore al 100% della finestra */
    background-color: #191970; /* Imposta il colore di sfondo a bianco */
    padding: 20px 110px; /* Aggiunge uno spazio interno di 10px su tutti i lati */
    border-top: 1px solid #191970; /* Aggiunge un bordo superiore di 1px con colore grigio chiaro */
    margin-left: -15px; /* Sposta il contenitore 15px a sinistra */
}

.input-group .form-control {
    border: 1px solid #e6ecf3; /* Imposta un bordo di 1px con colore grigio chiaro */
    border-radius: 20px; /* Arrotonda gli angoli del bordo con un raggio di 20px */
    padding: 10px 15px; /* Aggiunge uno spazio interno di 10px sopra/sotto e 15px a destra/sinistra */
    box-shadow: none; /* Rimuove qualsiasi ombreggiatura dal bordo */
}

.input-group .btn-primary {
    background-color: #4a90e2; /* Imposta il colore di sfondo del pulsante a blu */
    border-color: #4a90e2; /* Imposta il colore del bordo del pulsante a blu */
    border-radius: 20px; /* Arrotonda gli angoli del bordo con un raggio di 20px */
}

.input-group .btn-primary:hover {
    background-color: #357ab7; /* Imposta il colore di sfondo del pulsante a blu scuro quando l'utente passa sopra */
    border-color: #357ab7; /* Imposta il colore del bordo del pulsante a blu scuro quando l'utente passa sopra */
}