<!DOCTYPE html>
<html>
<head>
    <title>Chat con {{ contact }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();
            var room = "{{ room }}";
            var username = "{{ username }}";

            socket.emit('join', { username: username, room: room });

            socket.on('message', function(data) {
                var messages = document.getElementById('messages');
                var message = document.createElement('li');
                var msgClass = data.username === username ? 'text-right bg-primary text-white' : 'text-left bg-light';
                message.classList.add('list-group-item', msgClass);
                message.innerHTML = `${data.timestamp} ${data.username}: ${data.message}`;
                messages.appendChild(message);
                messages.scrollTop = messages.scrollHeight;
            });

            socket.on('error', function(data) {
                alert(data.msg);
            });

            document.getElementById('send').onclick = function() {
                var message = document.getElementById('message').value;
                socket.emit('message', { room: room, message: message, username: username, contact: "{{ contact }}" });
                document.getElementById('message').value = '';
            };
        });
    </script>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Chat con {{ contact }}</h1>
        <ul id="messages" class="list-group mb-3">
            {% for message in messages %}
            {% set message_parts = message.split(' ', 2) %}
            {% if message_parts[1].startswith(username) %}
            <li class="list-group-item text-right bg-primary text-white">> {{ message_parts[0] }} {{ message_parts[1] }}</li>
            {% else %}
            <li class="list-group-item text-left bg-light">< {{ message_parts[0] }} {{ message_parts[1] }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        <div class="input-group">
            <input type="text" id="message" class="form-control" placeholder="Inserisci il messaggio">
            <div class="input-group-append">
                <button id="send" class="btn btn-primary">Invia</button>
            </div>
        </div>
        <br>
        <a href="{{ url_for('home') }}" class="btn btn-secondary">Torna alla Home</a>
    </div>
</body>
</html>