<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <!-- Chat Column -->
        <div class="col-md-12">
            <div class="chat-header">
                <img src="{{ url_for('static', filename='avatar.png') }}" class="rounded-circle" width="40" alt="Avatar">
                <h5>{{ contact }}</h5>
                <span id="online-status">{{ contact_online }}</span>
            </div>
            <div class="chat-window" id="chat-window">
                {% for message in messages %}
                <div class="message {% if message.username == username %}outgoing{% else %}incoming{% endif %}">
                    <span class="timestamp">{{ message.timestamp }}</span>
                    <span class="username">{{ message.username }}</span>
                    <span class="message-text">{{ message.message }}</span>
                </div>
                {% endfor %}
            </div>
            <div class="chat-input">
                <form id="message-form">
                    <input type="text" id="message" placeholder="Enter text here..." class="form-control">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    $(document).ready(function(){
        var room = "{{ room }}";
        var username = "{{ username }}";
        var contact = "{{ contact }}";

        socket.emit('join', {'username': username, 'room': room});

        $('#message-form').submit(function(e){
            e.preventDefault();
            var message = $('#message').val();
            socket.emit('message', {'message': message, 'username': username, 'room': room, 'contact': contact});
            $('#message').val('');
        });

        socket.on('message', function(data){
            var messageElement = '<div class="message ' + (data.username == username ? 'outgoing' : 'incoming') + '">' +
                '<span class="timestamp">' + data.timestamp + '</span>' +
                '<span class="username">' + data.username + '</span>' +
                '<span class="message-text">' + data.message + '</span>' +
                '</div>';
            $('#chat-window').append(messageElement);
        });

        socket.on('user_online', function(data){
            if (data.username == contact) {
                $('#online-status').text(data.status);
            }
        });
    });
</script>
</body>
</html>
