<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <div>
        <a href="{{ url_for('add_contact') }}">Aggiungi nuovo contatto</a> |
        <a href="{{ url_for('remove_contact') }}">Elimina contatto</a> |
        <a href="{{ url_for('contacts') }}">Rubrica</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <h2>Contatti</h2>
    <ul>
        {% for contact in contacts %}
        <li><a href="{{ url_for('chat', contact=contact) }}">{{ contact }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>