<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Utenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>Ricerca Utenti</h1>
    <form method="post" action="/search">
        <div class="form-group">
            <label for="search_query">Nome Utente (parziale):</label>
            <input type="text" class="form-control" id="search_query" name="search_query" required>
        </div>
        <button type="submit" class="btn btn-primary">Cerca</button>
    </form>
    <p class="mt-3"><a href="{{ url_for('home') }}">Torna alla Home</a></p>
</div>
</body>
</html>
