<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Utenti</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Ricerca Utenti</h1>
    <form id="search-form" method="post" action="/search">
        <div class="form-group">
            <label for="search_query">Nome Utente (parziale):</label>
            <input type="text" class="form-control" id="search_query" name="search_query" required>
        </div>
        <button type="submit" class="btn btn-primary">Cerca</button>
    </form>
    <div id="search-results" class="mt-3">
        <!-- Risultati della ricerca saranno inseriti qui -->
        {% if results %}
        <ul class="list-group">
            {% for result in results %}
            <li class="list-group-item search-result-item" data-username="{{ result.name }}">
                {{ result.name }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <p class="mt-3"><a href="{{ url_for('home') }}">Torna alla Home</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function() {
        $('#search-form').on('submit', function(event) {
            event.preventDefault();
            $.post('/search', $(this).serialize(), function(data) {
                $('#search-results').html(data);
            });
        });

        $(document).on('click', '.search-result-item', function() {
            var username = $(this).data('username');
            $.post('/add_contact', {new_contact: username}, function() {
                window.location.href = '/home';
            });
        });
    });
</script>
</body>
</html>
